<p style="color: green"><%= notice %></p>
 
 <div class="container">
  <h1>Search Prompts</h1>
  <%= form_tag(search_prompt_path, method: :get) do %>
    <%= text_field_tag(:query, params[:query], placeholder: 'Enter your search query') %>
    <%= submit_tag('Search') %>
  <% end %>
 
  <% if @prompts.present? %>
    <h2>Search Results:</h2>
    <ul>
      <% @prompts.each do |prompt| %>
        <li><%= prompt %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No results found.</p>
  <% end %>
</div>
